// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown {
  position: absolute;
  top: 55px;
  right: 120px;
  border: 1px solid $light-gray;
  width: 180px;
  background-color: white;
  z-index: 1000000000;
  font-family: $sans-serif;
  box-shadow: 2px 2px 7px $light-gray;


}

.dropdown-subtitle {
  color: $gray;
  font-size: 10px;
  padding-left: 4px;
}

.editions {
  padding: 15px 10px 3px 10px ;
}

.editions li {
  position:relative;
  align-items: right;
  margin-top: 3px;
  font-weight: normal;
  font-size: 12px;
  padding: 4px 3px;
}
.editions li:last-of-type {
  padding-bottom: 8px;
  border-bottom: 1px solid $light-gray;
}

.editions a {
  color: $gray;
}


.editions li:hover {
  background-color: $light-gray;
  border-radius: 3px;

}

.help {
  padding: 5px 10px 10px 10px;
}

.help li {

  position:relative;
  align-items: right;
  // margin: 5px 0px;
  font-weight: normal;
  font-size: 12px;
  padding: 4px 3px;
}

.help a {
  color: $blue;
  font-weight: lighter;
  text-transform: none;
}

.help a:hover {
  text-decoration: underline;

}
